In [87]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing
data = pd.read_csv('wine_data.csv')

In [88]:
data.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [89]:
y = data['1']
x = data.loc[:,data.columns != '1']
x

,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [86]:
maxx = 0.0
maxk = 1
kf = KFold(n_splits=5, random_state = 42, shuffle=True)
neigh = KNeighborsClassifier(n_neighbors=3)
for k in range(50):
    neigh = KNeighborsClassifier(n_neighbors=k+1)
    neigh.fit(x, y);
    avg = np.mean(cross_val_score(neigh, x,y, cv = kf.split(data),scoring='accuracy'))
    if(maxx < avg):
        maxx = avg
        maxk = k+1
print (maxx,maxk)

0.7352380952380952 1

In [100]:
data_scale = preprocessing.scale(data)
X = data_scale[:,1:14]
ddt = pd.DataFrame(data=data_scale[1:,1:],    # values
              index=data_scale[1:,0],    # 1st column as index
              columns=data_scale[0,1:])
ddt.head()

,0.255824,-0.501624,-0.824485,-2.500110,0.029180,0.572666,0.739636,-0.823139,-0.538575,-0.291130,0.407100,1.131698,0.971052
-1.222468,0.206229,0.018020,1.107690,-0.275639,0.099932,0.812784,1.221645,-0.501337,2.145975,0.269729,0.319567,0.804579,1.400998
-1.222468,1.706501,-0.349315,0.487935,-0.816726,0.948953,2.493609,1.472691,-0.984039,1.040572,1.184362,-0.424458,1.202811,2.340509
-1.222468,0.305420,0.224086,1.836812,0.445811,1.302712,0.812784,0.669343,0.222716,0.408913,-0.317016,0.363334,0.463238,-0.032154
-1.222468,1.495719,-0.519543,0.305655,-1.297693,0.878201,1.565153,1.372273,-0.179536,0.672104,0.731360,0.407100,0.349457,2.244965
-1.222468,1.731299,-0.420990,0.305655,-1.478055,-0.253827,0.332548,0.498632,-0.501337,0.689650,0.084214,0.275801,1.387704,1.735400

In [90]:
data_scale = preprocessing.scale(data)
x = data_scale[:,1:14]
maxx = 0.0
maxk = 1
kf = KFold(n_splits=5, random_state = 42, shuffle=True)
neigh = KNeighborsClassifier(n_neighbors=3)
for k in range(50):
    neigh = KNeighborsClassifier(n_neighbors=k+1)
    neigh.fit(x, y);
    avg = np.mean(cross_val_score(neigh, X,y, cv = kf.split(data),scoring='accuracy'))
    if(maxx < avg):
        maxx = avg
        maxk = k+1
print (maxx,maxk)

0.9773015873015873 28